// Variables

@import "src/scss/variables.scss";

// Bootstrap

@import "./bootstrap";

// Photon

@import "./photon.scss";

.row {
	margin: 1px;
}

.table {
	margin-bottom: 0px;
}

.container-fluid {
	height: 100%;
}

.flex {
	flex-flow: column;
	height: 100vh;
}

.decks {
	flex: 0 1 auto;
}

.song-picker {
	flex: 1 1 auto;
}

