// Variables

@import "src/scss/variables.scss";

// Bootstrap customization

$body-bg: $background;
$card-bg: $background;

$body-color: $color;

$grid-gutter-width: 2px;

$card-border-color: $border;
$table-border-color: $border;

$border-radius: 0px;
$border-width: 1px;

// Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";

.row {
	margin: 1px;
}

.table {
	margin-bottom: 0px;
}

.container-fluid {
	height: 100%;
}

.flex {
	flex-flow: column;
	height: 100vh;
}

.decks {
	flex: 0 1 auto;
}

.song-picker {
	flex: 1 1 auto;
}

